# Build e Cache do Gradle
*.iml
.gradle/
build/
**/build/

# Android Studio e IntelliJ IDEA
.idea/
!.idea/codeStyles/
!.idea/vcs.xml
!.idea/runConfigurations/

# Configurações locais de máquina e SDK
local.properties
.DS_Store
Thumbs.db

# Binários e Pacotes Compilados
*.apk
*.ap_
*.aab
*.dex
*.class

# Chaves de Assinatura (Segurança Crítica)
*.jks
*.keystore

# Ferramentas Nativas e Profiler C/C++
.cxx/
.externalNativeBuild/
/captures/
/profiler/
*.hprof

# Relatórios de Testes e Lint
lint/
**/lint-results-*.html
**/lint-results-*.xml